/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./loader.css');


.hidden {
  display: none;
}


/*----------------------------INPUT FORM---------------------------*/
.form {
  margin: 0 auto;
  margin-top: 36px;
}

input[name="search-text"] {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  background-color: #fff;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  padding: 8px 16px;
  margin-bottom: 16px auto;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[name="search-text"]::placeholder {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #808080;
  text-align: left;

}

input[name="search-text"]:focus::placeholder {
  color: #2e2f42;
}

input[name="search-text"]:hover {
  border: 1px solid black;
}

input[name="search-text"]:active {
  border: 1px solid #808080;
}


button[type="submit"] {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  height: 40px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[type="submit"]:hover {
  background-color: #6c8cff;
}



/*----------------------------GALLERY---------------------------*/
:root {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  padding: 16px 24px;
  margin: 0 auto;
}

img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}

.gallery {
  max-width: 1128px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery__item {
  border: 1px solid #808080;
}

.info {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.info p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info b {
  font-weight: 600;

  line-height: 1.33;
  letter-spacing: 0.04em;
}

.modal {
  background-color: bisque;
}



/*----------------------------LOAD MORE BUTTON---------------------------*/

.loadMoreBtn {
  border-radius: 8px;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
    margin: 0 auto;
    background-color: #4e75ff;
    color: #fff;
    font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loadMoreBtn:hover {
  background-color: #6c8cff;
}